@import 'woocommerce';
@import 'typography';

#logo {
	width: 185px;
	height: 216px;
	max-height: 216px;
}
#top-menu .hmi-logo {
	margin-bottom: 0px;
	padding-left: 30px;
}
#et-top-navigation {
	font-weight: 400;
}

#main-footer .footer-widget .widget_nav_menu ul li {
	padding-left: 0;
}

#main-footer .footer-widget .widget_nav_menu ul li:before {
	display: none;
}

#main-footer .footer-widget .widget_text {
	float: right;
}


.ds-vertical-align-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.ds-vertical-align-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.line-behind {
	position: relative;
	z-index: 1;
	line-height: 1em;
	margin: 0;
	padding: 0;
	&:before {
		border-top: 1px solid rgba( 0, 0, 0, 0.1 );
		content: "";
		margin: 0 auto;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
	}
}

.home-collection {
	text-align: center;
	vertical-align: top;
	.et_pb_column {
		display: inline-block;
		vertical-align: top;
		float: none;
		margin-right: 5%;
	}
	.et_pb_column_empty {
		display: none;
	}
}

.ten-columns .et_pb_module {
	width: 9%; float: left;
	margin-right: 1%;
}
.nine-columns .et_pb_module {
	width: 9.11%; float: left;
	margin-right: 2%;
}
.eight-columns .et_pb_module {
	width: 10.5%; float: left;
	margin-right: 2%;
}
.seven-columns .et_pb_module {
	width: 12.28%; float: left;
	margin-right: 2%;
}
.six-columns .et_pb_module {
	width: 14.66%; float: left;
	margin-right: 2%;
}
.five-columns .et_pb_module {
	width: 18%; float: left;
	margin-right: 2%;
}

.ten-columns .et_pb_module:last-child,
.nine-columns .et_pb_module:last-child,
.eight-columns .et_pb_module:last-child,
.seven-columns .et_pb_module:last-child,
.six-columns .et_pb_module:last-child,
.five-columns .et_pb_module:last-child {
	margin-right: 0;
}

@media (max-width: 980px){
	.ten-columns .et_pb_module {width: 19%;}
	.nine-columns .et_pb_module {width: 31.3%;}
	.eight-columns .et_pb_module {width: 23%;}
	.seven-columns .et_pb_module {width: 23%;}
	.six-columns .et_pb_module {width: 31.3%;}
	.five-columns .et_pb_module {width: 31.3%;}
}
 
@media all and (max-width: 767px) {
	.ten-columns .et_pb_module {width: 100%;}
	.nine-columns .et_pb_module {width: 100%;}
	.eight-columns .et_pb_module {width: 100%;}
	.seven-columns .et_pb_module {width: 100%;}
	.six-columns .et_pb_module {width: 100%;}
	.five-columns .et_pb_module {width: 100%;}
}