h1, h2, h3, h4 {
  font-weight: inherit;
  word-wrap: normal !important;
}

h1 {
  font-size: 3.157em !important;
}

h2 {
	font-size: 2.369em !important;
}

h3 {
	font-size: 1.777em !important;
}

h4 {
	font-size: 1.333em !important;
}

h5 {
	font-size: 1em !important;
}

small, .font_small {
	font-size: 0.75em;
}

.font_large {font-size: 1.25em;}
.et_pb_blurb_content p:last-of-type {
	padding-bottom: 1em;
}
